body {
	background-color: #045166;
	color: white;
}

.box {
	align-items: center;
	background-color: #045166;
	color: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 100vh;
	justify-content: space-around;
	padding: 30px;
	width: 100vw;
}

.login-box {
	background-color: rgba(0,0,0,0.5);
	height: 550px;
	padding: 20px;
	width: 400px;
}

.description-box {
	background-color: inherit;
	height: 550px;
	width: 400px
}

h3, h4, h2 {
	margin: 5px 0 5px 0;
}

label, input {
	display: block;
	margin: 15px 0 15px 0;
}

@media screen and (max-width: 500px) {
	.box {
		align-items: center;
		background-color: #045166;
		color: inherit;
		display-flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 100vh;
		justify-content: space-around;
		padding: 30px;
		width: 100vw;
	}
}

input[type=email], input[type=password] {
	padding: 6px;
	border: 2px solid rgba(0,0,0,0.3);
	background-color: rgba(128,128,128,0.5);
	width: 100%;
}

input[type=email]:focus, input[type=password]:focus {
	outline:none;
}

input[type=email]:valid {
	border: 2px solid rgba(163,81,81,0.5);
}

input[type=password]:valid {
	border: 2px solid rgba(163,81,81,0.5);
}

button[type=submit] {
	border: none;
	background-color: orange;
	color: inherit;
	display: block;
	margin: 5px auto;
	padding: 15px 40px;
	cursor: pointer;
}

button[type=submit]:hover {
	background-color: darkorange;
}