<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Entrar Tinder CPBA</title>
	<link rel="stylesheet" href="../assets/stylesheets/application.css">
	<link rel="stylesheet" href="../assets/stylesheets/login.css">
</head>
<body>
	<header>
		
	</header>
	<section>
		<div class="box">
			<div class="description-box">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aliquam cum perferendis aut natus, expedita rerum officiis quibusdam culpa reiciendis! Veritatis voluptate id soluta vero hic magni minima porro saepe.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quasi possimus quos, vel. Dolorem eum laboriosam a alias tenetur amet sed rem quod, enim fugit ab dolorum consequatur, ducimus sunt!
			</div>
			<div class="login-box">
				<h3>Acesse sua conta</h3>
				<label for="email-ip">E-mail</label>
				<input id="email-ip" type="email" name="" value="" required autofocus placeholder="Digite seu e-mail">
				<label for="password-ip">Senha</label>
				<input id="password-ip" type="password" name="" value="" required placeholder="Digite sua senha">
				<button type="submit" name="" value="">Entrar</button>
			</div>
		</div>
	</section>
	<footer>
		
	</footer>
</body>
</html>